$primary-color: #333;
$secondary-color: #cce2ff;
$dark-color: #212529;
$light-color: #f8f9fa;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $primary-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  font-size: large;
  font-weight: 400;
  background-color: $primary-color;
  color: $light-color;
  padding: 5px 10px;
  border: 0;
  border-radius: 2px;
}
.dialog {
  padding: 0;
}
.header {
  background-color:$dark-color;
  display:flex;
  justify-content: center;

  .header-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    max-width: 640px;
    width: 100%;
    padding: 15px;
  }
}

.menu {
  display:flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  max-width: 1380px;

  .menu__item {
    padding: 5px;

    .subtitle {
      color: $secondary-color;
      font-size: large;
      font-weight: 700;
    }

    .price {
      color: $light-color;
      font-size: large;
      font-weight: 400;
    }
  }
}